.loadMoreButton {
  font-family: 'Quicksand', sans-serif;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00b118;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.loadMoreButton:hover {
  background-color: #187a31;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding-left: 20px; 
  padding-right: 20px;
}

.title {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 625;
  margin-bottom: 10px;
}

.filterButton {
  display: block; /* Makes it a block element */
  font-family: 'Quicksand', sans-serif;
  margin: 10px auto; /* Centers it horizontally */
  padding: 8px 16px;
  font-size: 16px;
  background-color: #e0e0e0; /* Light gray */
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.filterButton:hover {
  background-color: #d6d6d6; /* Slightly darker on hover */
}

.grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: start;
  padding: 0;
  margin: 20px auto;
  list-style: none; /* Removes default list bullets */
}


.item {
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  margin: 0 0.5rem; 
  justify-self: center;      
}