.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filterButton {
    display: block; /* Makes it a block element */
    margin: 10px auto; /* Centers it horizontally */
    padding: 8px 16px;
    font-size: 16px;
    background-color: #e0e0e0; /* Light gray */
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .filterButton:hover {
    background-color: #d6d6d6; /* Slightly darker on hover */
  }
  
  .grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  